*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

#Progress{
    width: 80%;
    height: 40px;
    background-color: rgb(217,218,218);
    margin: 20px ;
    position: relative;
    /* color: blue; */

}

#bar{
    width: 10px;
    height: 40px;
    background-color: rgb(96, 96, 236);
    position: absolute;
}